.pokeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}

.pageList {
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    justify-items: stretch;
}
.pageList li {
    display: inline;
    border: none;
    font-family: pokemon;
    margin: 1vmin;
}

.pageListButton {
    border: none;
    font-family: pokemon;
    font-size: 105%;
    letter-spacing: 3px;
    background-color: hsla(170, 28%, 95%, 1);
    color: #316ab2;
    padding: 1vmax;
  
}

.pageListButton:hover {
    text-shadow: 5px 5px 4px #316ab2;
    cursor: pointer;
}

.pageListButton:disabled {
    color: grey;
    opacity: .6;
    cursor: not-allowed;
}
.pageListButton:active {
    border: none;
}

.currentPageButton {
    font-size: 150%;
    text-shadow: 2px 2px 10px #316ab2;
}
