.optionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.searchBar li {
    list-style: none;
    border: none;
    font-size: medium;
    color: #316ab2;
    margin-left: .5vmin;
  }

  .optionListButton {
      border: none;
      background: none;
      color:  #316ab2;
  }

  .optionListButton:hover {
      font-size: larger;
      cursor: pointer;
  }