.detailsPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsContainer {
    border: 5px solid;
    border-radius: 5%;
    margin-top: 5%;
    min-width: 50%;
}

.detailsContainer h1 {
    padding:5% 5% 0% 5%;
}
.detailsInfo {
    border-top: 2px solid;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    align-items: stretch;
    margin: 2%;
}

.detailsInfo p {
    margin:1% 0% 1% 3%;
    font-weight: bold;
}