@font-face {
  font-family: "pokemon";
  src: url('/PokemonSolid.ttf');
}
@font-face {
  font-family: "pokemon-outline";
  src: url('/PokemonHollow.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsla(170, 28%, 95%, 1);
  color: #316ab2;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #ffcb05;
  color: #316ab2;
  top: -21px;
  padding-top: 2.5%;
  height: 120px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: stretch;
}

h1 {
  font-size: 52px;
  font-family: pokemon-outline;
  font-weight: bolder;
}

a {
  color: #316ab2;
}

.loading {
  background-image: url('./Pokeball.png');
  width: 400px;
  height: 400px;
  position: relative;
  margin:0;
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin infinite 3s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    top:0vh;
    left: 0vw;
  }
  to {
    transform: rotate(360deg);
    top: 100vh;
    left: 100vw;
  }
}
.searchBar {
  justify-self: stretch;
  padding: 1%;
  color: #316ab2;
  min-width: 175px;
}

input, button, select {
  border-radius: 5%;
  border: 2px solid #316ab2;
  margin: 1.5%;
  padding: 1.5%;
  background-color:#ffcb05
}
