li {
    list-style: none;
    border:3px solid darkred;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 15%;
    max-width: 200px;
    margin: .5%;
    border-radius: 3%;
}
img {
    max-width: 90%;
}

h2 {
    max-width: 90%;
}
.infoBox {
    padding: .5%;
    display: flex;
    flex-direction: column;
    border: 2px solid  #ffcb05;
    border-radius: 5%;
    align-self: stretch;
}