.searchBar {
    justify-self: stretch;
    padding: 1%;
    color: #316ab2;
    min-width: 175px;
}

input, button, select {
    border-radius: 5%;
    border: 2px solid #316ab2;
    margin: 1.5%;
    padding: 1.5%;
    background-color:#ffcb05
}

    